.idea/

/backend/database/*.db
!/backend/database/app.template.db
/backend/database/files/
/frontend/dist/


.env
*.env.*
!.env*.template

# Python
venv/
*.py[cod]
Bin/
Lib/
Scripts/
pyvenv.cfg
.venv
