.idea/
.vscode/

/backend/database/*.db
!/backend/database/app.template.db
/backend/database/files/
/backend/database/sessions/
/frontend/dist/

discord.log

.env
*.env.*
!.env*.template

# Python
*.py[cod]
Bin/
Lib/
Include/
Scripts/
__pycache__/
pyvenv.cfg
.venv