# IDEs
.idea/
.vs/
.vscode/

/database/*.db
!/database/app.template.db
/database/files/
/database/sessions/
/frontend/dist/

discord.log

.env
*.env.*
!.env*.template

# Python
*.py[cod]
Bin/
Lib/
Include/
Scripts/
__pycache__/
pyvenv.cfg
.venv
.fake
.ionide

# dotnet
obj/
.fake
.ionide
*.csproj.user
