ENABLE_WEBSITE=1

WEBSITE_URL=
STATICS_PATH=../frontend/dist
CAN_FAIL_ON_RECORDING_PARSE=1
CORS_ALLOW_ORIGIN=
DB_PATH=./database/app.db
DB_TEMPLATE_PATH=./database/app.template.db
SESSION_SECRET=
